html, body {
    height : 100%;
}
.ui-header {
    height : 45px;
    font-size: 33px;
    text-align:center;
    padding-bottom:5px;
    padding-top:5px;
}
.ui-header .ui-title {
	padding: 0;
	margin: 0;
}
.ui-content {
    position : absolute;
    top      : 60px;
    right    : 0;
    bottom   : 50px;
    left     : 0;
}
.ui-footer {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    height   : 50px;
    text-align: right;
}
.ui-footer a {
    margin-right: 20px;
}
.ui-popup {
	width: 275px;
    height: 205px;
}
.ui-select {
    width: 100%;
}
.favicon {
    float: left;
    margin-top: -5px;
}

/* home.jsp */
.ion-volume-medium {
	cursor: pointer;
}

/* profile.jsp */
.dog img {
    display: block;
    width: 100px;
    height: 100px;
}
.cat img {
    display: block;
    width: 100px;
    height: 100px;
}
.profiles {
    display: flex;
    overflow: auto;
}
.profiles .ui-btn {
    margin-left: 10px;
    margin-right: 10px;
}
input#name {
    background: white;
}
.profiles-radio {
	display: flex;
}
.profiles-radio img {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding-left: 25px;
}

/* stats.jsp */
.stats {
    display: flex;
    overflow: auto;
}
.stats .ui-btn {
    margin-left: 10px;
    margin-right: 10px;
    display: table;
}
.indicators {
    display: flex;
}
.indicators a {
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
    width: 200px;
}
.indicators h1 {
	font-size: 75px;
	font-weight: bold;
	margin: 0;
}
.indicators h3 {
    margin: 5px;
}
.indicators p {
    margin: 5px;
}

/* kid_mgt.jsp */
.combo-box {
	display: flex;
}
.combo-box label {
    width: 200px;
}
